{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <h1 class="text-center mb-4">Bases de datos realizadas</h1>
    <div class="row">
        {% for db in dbs %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">{{db.0}}</h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}