{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Crear rol</h2>
    <form action="{% url 'crear_rol' %}" method="post" id="formularioPermisosForm" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label for="bd" class="form-label">Base de datos</label>
            <select class="form-select" id="bd" name="bd" required>
                {% for db in dbs %}
                <option value="{{ db.0 }}">{{ db.0 }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Por favor, selecciona una base de datos.
            </div>
        </div>
        <div class="mb-3">
            <label for="titulo" class="form-label">Nombre del rol</label>
            <input type="text" class="form-control" id="rol" name="rol_name" placeholder="Nombre del nuevo rol" required/>
            <div class="invalid-feedback">
                Por favor, ingresa un nombre para el rol.
            </div>
        </div>

        <div class="mb-3">
            <label for="permisos" class="form-label">Permisos</label>
            <div id="permisos">
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="select" name="permisos" value="SELECT">
                    <label class="form-check-label" for="select">SELECT</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="insert" name="permisos" value="INSERT">
                    <label class="form-check-label" for="insert">INSERT</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="update" name="permisos" value="UPDATE">
                    <label class="form-check-label" for="update">UPDATE</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="delete" name="permisos" value="DELETE">
                    <label class="form-check-label" for="delete">DELETE</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="execute" name="permisos" value="EXECUTE">
                    <label class="form-check-label" for="execute">EXECUTE</label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Crear Rol</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const formulario = document.getElementById('formularioPermisosForm');

        // Enviar el formulario por AJAX
        formulario.addEventListener('submit', function(event) {
            event.preventDefault();

            if (!formulario.checkValidity()) {
                event.stopPropagation();
                formulario.classList.add('was-validated');
                return;
            }

            const formData = new FormData(formulario);

            fetch(formulario.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert(data.message);
                    formulario.reset();  // Limpiar el formulario
                    formulario.classList.remove('was-validated');
                } else {
                    alert('Error: ' + data.message);
                }
            })
            .catch(error => {
                alert('Error al enviar el formulario');
            });
        });
    });
</script>
{% endblock %}